<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>告白情书</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>

<div>

    <div class="pos-re">
        <div class="pos-ab" style="left:calc(50%);top:75px;">
            <h3>写给张娜</h3>
        </div>
    </div>


    <div class="pos-ab" style="z-index:-1;width: 100%;top:0px;right:0px;">
        <img src="/images/qing_1_2.jpg" style="width: 100%;"/>
    </div>
</div>

</body>
</html>