<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
</head>
<body>

<div>

    <div class="pos-re">
        <div class="pos-ab" style="left:150px;top:60px;">
            <h1>to 标题</h1>
        </div>
    </div>


    <div class="pos-ab" style="z-index:-1;">
        <img src="/images/qing_1_1.jpg"/>
        <img src="/images/qing_2.jpg"/>
        <img src="/images/qing_3.jpg"/>
        <img src="/images/qing_4.jpg"/>
        <img src="/images/qing_5_1.jpg"/>
        <img src="/images/qing_6.jpg"/>
        <img src="/images/qing_7_1.png"/>
    </div>
</div>

</body>
</html>